{% assign props = item.props %}

<div class="text-center border border-1 rounded-1 border-dark">
	<a href="{{props.url}}">
		<h6 class="fs-6 mb-0 pe-1 ps-1">{{item.name}}</h6>
	</a>
	<div class="bg-light">
		{%- comment -%}Normalize to list of images{%- endcomment -%}
		{% if props.img.first %}
			{% assign imgs = props.img %}
		{% else %}
			{% assign imgs = "" | split %}
			{% assign imgs = props.img | concat: imgs %}
		{% endif %}

		{% for img in imgs %}
			<div>
				<img class="img-fluid" src="{{img.src}}" width="{{img.width}}" height="{{img.height}}"/>
			</div>
		{% endfor %}
	</div>

	{% if item.attrs %}
		<table class="table table-sm align-middle small mb-0"><tbody>
			{% for field in item.attrs %}
				{%- comment -%}Normalize to string{%- endcomment -%}
				{% if field[1].first %}
					{% assign value = field[1] | join: ' | ' %}
				{% else %}
					{% assign value = field[1] %}
				{% endif %}

				<tr>
					<th scope="row" class="text-capitalize">{{field[0]}}</th>
					<td>
						{% if field[0] == 'Released in' and value != 'v1.0.0.0: Release' %}
							{% assign img = shared.updates[value] %}
							<img src="{{img.src}}" alt="update icon"
								width="{{img.width | divided_by: 2}}" height="{{img.height | divided_by: 2}}"/>
						{% endif %}
						{{value}}
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
</div>
